*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#counterlabel{
    font-size: 10em;
    text-align: center;
    display: block;
}
#btnContainer{
    text-align: center;
}
.buttons{
    font-size: 1.5em;
    border-radius: 10px;
    padding: 10px 20px ;
    margin: 5px;
    background-color: hsl(212, 78%, 58%);
    color: white;
    transition: background-color 0.25s;
    cursor: pointer;
}
.buttons:hover{
    background-color:  hsl(212, 92%, 37%);
}